<div class="container">
  <h1 style="text-align: center;">Products</h1>
  <div id="options">
    <a id="" href="#" routerLink="/product/create/" class="btn btn-success">Create New Product</a>
    <button type="button" (click)="logout()" class="btn btn-dark">Logout</button>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Price</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.content }}</td>
      <td>{{ product.price }}</td>
      <td id="actions">
        <a href="#" [routerLink]="['/product/', product.id, 'view']" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/product/', product.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>
</div>
